:root {
  box-sizing: border-box;
}

.container {
  width: 236px;
  height: 325px;
  background-color: #1c1c1c;
  color: white;
  border-radius: 4px;
}

.circles {
  display: flex;
  padding-top: 10px;
}

.circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.zero {
  display: flex;
  justify-content: flex-end;
  font-size: 56px;
  padding-right: 10px;
}

.square {
  width: 25%;
  height: 46px;
  background-color: #505050;
  text-align: center;
  border: 0.5px solid black;
  font-size: 24px;
  vertical-align: middle;
  line-height: 46px;
}

.row {
  display: flex;
}

.row_1 > div:nth-child(-n + 3) {
  background-color: #3c3c3c;
}

.row > div:last-child {
  background-color: #ff9500;
}

.row_5 div:last-child {
  border-bottom-right-radius: 4px;
}

.row_5 > div:first-child {
  flex-grow: 1;
  border-bottom-left-radius: 4px;
  text-align: left;
  padding-left: 23px;
}
